html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-image: url('../img/savin-ny-website-background-web1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes buttonHover {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.animated-container {
    animation: fadeIn 1s ease-in-out;
    background-image: url('../img/simple-white-background-ftidy8nsmt2pv4ji.jpg');
    background-size: cover;
    background-position: center;
    padding: 5rem 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn-animated {
    transition: transform 0.3s ease-in-out;
}

    .btn-animated:hover {
        transform: scale(1.1);
    }



