@{
    ViewData["Title"] = "Начало";
}


<link rel="stylesheet" href="css/site.css">

<div class="text-center animated-container">
    <h1 class="display-1" style="color: #007bff; font-weight: bold;">Добре дошли в HAR</h1>
    <h2 class="display-6" style="color: #6c757d;">Household Appliances Rental</h2>
    <h3 class="display-6" style="color: #6c757d;">Система за наемане на битова техника</h3>
    @if (!User.Identity!.IsAuthenticated)
    {
        <div class="mt-4">
            <a class="btn btn-lg btn-animated" style="background-color: #007bff; color: white; border-radius: 25px; padding: 10px 30px; font-size: 1.2rem;" asp-area="" asp-controller="Auth" asp-action="SignIn">Вход</a>
            <a class="btn btn-lg btn-animated" style="background-color: #28a745; color: white; border-radius: 25px; padding: 10px 30px; font-size: 1.2rem;" asp-area="" asp-controller="Auth" asp-action="SignUp">Регистрация</a>
        </div>
    }

</div>


